* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.body {
  transition: all 0.5s;
}

.header {
  background: linear-gradient(to right, #0ab4ba, #1164bd);
}

@media (max-width: 1600px) {
  .body {
    font-size: 0.95rem;
  }
}

@media (max-width: 1440px) {
  .body {
    font-size: 0.9rem;
  }
}

@media (max-width: 1280px) {
  .body {
    font-size: 0.85rem;
  }
}

@media (max-width: 1024px) {
  .body {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .body {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  .body {
    font-size: 0.7rem;
  }
}